:root {
  --light-gray: #efefef;
  --gray: #666666;
  --orange: #f5841e;
  --orange-hover: #f3a968;
}

* {
  font-family: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 1110px;
  display: grid;
  place-items: center;
  margin: 0 auto;
  background: var(--light-gray);

}

header {
  background-color: black;
  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;
  color: var(--orange);
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 2.5rem;
}

section {
  width: 85%;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  p {
    width: 80%;
    text-align: center;
    margin-inline: auto;
    color: grey;

    a {
      color: inherit;

      &:hover {
        color: var(--orange);
      }
    }

    .date,
    .strong,
    .red,
    .orange {
      font-weight: 700;
    }

    .red {
      color: red;
    }

    .orange {
      color: var(--orange);
    }
    .italic {
      font-style: italic;
      font-weight: normal;
      font-size: 1rem;
    }
  }

  .banner {
    margin-bottom: 2rem;
  }
}

@media (min-width: 48em) {
  section {

    h2 {
      font-size: 1.6rem;
      margin-bottom: 3rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-top: 3rem;
    }
  }

  header {
    height: 15rem;
    font-size: 3.5rem;
  }
}

.newsletter-main-sections {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  
  section:not(:last-child) {
    margin-bottom: 3rem;
  }
}

@media (min-width: 48em) {
  .newsletter-main-sections {
    margin-bottom: 3rem;
  }
}
